#myForm {
    border: 3px solid #f1f1f1;
    width: 70%;
    padding-left:20px;
    margin: auto;
}

/* Full-width inputs */
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {

    border: none;
    cursor:pointer;
    background-color: Transparent;
}

/* Center the avatar image inside this container */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

#addButton{
    background-image: url(../resources/img/add.jpg);
    padding: 15px;
    margin: 8px;
}

#submitButton{
    background-image: url(../resources/img/submit.jpg);
    margin: 35px;
    padding: 17px;
}

#deleteButton{
    background-image: url(../resources/img/delete.jpg);
    background-repeat: no-repeat;
    padding: 17px;
    margin: 8px;
}

#listSpan{
    margin-right:50px;
}
